In [15]:
import pandas as pd
import numpy as np
data={
    'name':['firoz','adil','ragav','revi'],
    'age':[10,25,30,40]
}
df=pd.DataFrame(data)
print(df)
print(df.iloc[0:2])
df['salary']=[100,200,3000,500]
df

    name  age
0  firoz   10
1   adil   25
2  ragav   30
3   revi   40
    name  age
0  firoz   10
1   adil   25

    name  age  salary
0  firoz   10     100
1   adil   25     200
2  ragav   30    3000
3   revi   40     500

In [16]:
print(df.groupby('name')['age'].mean())

name
adil     25.0
firoz    10.0
ragav    30.0
revi     40.0
Name: age, dtype: float64