In [1]:
from operator import concat

import pandas as pd
import numpy as np
import pandas as pd
from numpy.matlib import randn

s=pd.Series([1,2,3,4,5,6])
print(s)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [2]:
s=pd.Series()
print(s)
s=pd.Series(dtype="int")
print(s)
s=pd.Series(dtype="float")
print(s)
s=pd.Series(dtype="object")
print(s)

Series([], dtype: object)
Series([], dtype: int64)
Series([], dtype: float64)
Series([], dtype: object)

In [3]:
s=pd.Series([1,2,3,4,5],index=[10,20,30,40,50])
print(s)

10    1
20    2
30    3
40    4
50    5
dtype: int64

In [4]:
s=pd.Series([1,"nn",2.22],index=["U",'V','W'])
print(s)

U       1
V      nn
W    2.22
dtype: object

In [5]:
data={
    "a":[1,2,3,4],
    "b":[8,8,9,5],
    "c":["dd","ss","ww","aa"]
}
s=pd.Series(data)
print(s)

a        [1, 2, 3, 4]
b        [8, 8, 9, 5]
c    [dd, ss, ww, aa]
dtype: object

In [6]:
s=pd.Series(np.random.randint(1,11,5))
print(s)

0    9
1    2
2    4
3    5
4    6
dtype: int32

In [7]:
dict={
    "a":1,"b":5,'n':7,"l":6
}
print(pd.Series(dict))

a    1
b    5
n    7
l    6
dtype: int64

In [8]:
dict={
    "a":1,"b":5,'n':7,"l":6
}
print(pd.Series(dict,index=["u",'n','l','j']))

u    NaN
n    7.0
l    6.0
j    NaN
dtype: float64

In [9]:
#scaler
s=pd.Series(5,index=[1,2,3,4,5])
print(s)

1    5
2    5
3    5
4    5
5    5
dtype: int64

In [10]:
     #slicing
s=pd.Series([50,25,69,85,22,10],index=[1,2,3,4,5,6])
print(s[2:5][1:3])
print(s[4:5])
print(s[3:])
print(s[:4])
print(s[::2])
print(s[::-1])

4    85
5    22
dtype: int64
5    22
dtype: int64
4    85
5    22
6    10
dtype: int64
1    50
2    25
3    69
4    85
dtype: int64
1    50
3    69
5    22
dtype: int64
6    10
5    22
4    85
3    69
2    25
1    50
dtype: int64

In [11]:
data={
    "name":["aaa",'bbb','ccc','mmm'],
    "age":[10,50,6,22],
    "place":["kallar",'khd','knr','ksd']
}
print(pd.Series(data))
print(pd.DataFrame(data))

name        [aaa, bbb, ccc, mmm]
age              [10, 50, 6, 22]
place    [kallar, khd, knr, ksd]
dtype: object
  name  age   place
0  aaa   10  kallar
1  bbb   50     khd
2  ccc    6     knr
3  mmm   22     ksd

In [12]:
# #Create a DataFrame with two columns: Name, Age.
data={
    'name':['firoz','uvais','musthafa','misriya',  'harshana','neseema'],
    'age':[21,28,49,27,25,46],
    'place':['kallar','kallar','kallar','bedakam','thiruvattor','kallar'],
    'work':['student','accountent','hotel','hs wife','hs wife','hs wife'],
}
df=pd.DataFrame(data)
print(df)

#attributes
print(df.info)
print(df.shape)
print(df.index)
print(df.size)
print(df.head())
print(df.tail())
print(df.describe())
print(df.T)
print("hhh",df.columns)
# #dct series convert to dataframe

       name  age        place        work
0     firoz   21       kallar     student
1     uvais   28       kallar  accountent
2  musthafa   49       kallar       hotel
3   misriya   27      bedakam     hs wife
4  harshana   25  thiruvattor     hs wife
5   neseema   46       kallar     hs wife
<bound method DataFrame.info of        name  age        place        work
0     firoz   21       kallar     student
1     uvais   28       kallar  accountent
2  musthafa   49       kallar       hotel
3   misriya   27      bedakam     hs wife
4  harshana   25  thiruvattor     hs wife
5   neseema   46       kallar     hs wife>
(6, 4)
RangeIndex(start=0, stop=6, step=1)
24
       name  age        place        work
0     firoz   21       kallar     student
1     uvais   28       kallar  accountent
2  musthafa   49       kallar       hotel
3   misriya   27      bedakam     hs wife
4  harshana   25  thiruvattor     hs wife
       name  age        place        work
1     uvais   28       kallar  accountent
2  musthafa   49       kallar       hotel
3   misriya   27      bedakam     hs wife
4  harshana   25  thiruvattor     hs wife
5   neseema   46       kallar     hs wife
             age
count   6.000000
mean   32.666667
std    11.775681
min    21.000000
25%    25.500000
50%    27.500000
75%    41.500000
max    49.000000
             0           1         2        3            4        5
name     firoz       uvais  musthafa  misriya     harshana  neseema
age         21          28        49       27           25       46
place   kallar      kallar    kallar  bedakam  thiruvattor   kallar
work   student  accountent     hotel  hs wife      hs wife  hs wife
hhh Index(['name', 'age', 'place', 'work'], dtype='object')

In [13]:
data=[["firoz",21],["hadi",20],['jakki',33]]
print(pd.DataFrame(data,columns=['name','age']))

    name  age
0  firoz   21
1   hadi   20
2  jakki   33

In [14]:
print(pd.Series(range(1,10)))

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [15]:
data={
    'name':['firoz','uvais','musthafa','misriya',  'harshana','neseema'],
    'age':[21,28,49,27,25,46],
    'place':['kallar','kallar','kallar','bedakam','thiruvattor','kallar'],
    'work':['student','accountent','hotel','hs wife','hs wife','hs wife'],
}
s=pd.DataFrame(data)
print(s.rename(columns={'name':'fullname','age':'ages','place':'places','work':'works'}))

   fullname  ages       places       works
0     firoz    21       kallar     student
1     uvais    28       kallar  accountent
2  musthafa    49       kallar       hotel
3   misriya    27      bedakam     hs wife
4  harshana    25  thiruvattor     hs wife
5   neseema    46       kallar     hs wife

In [16]:
data={
    'num':[10,20,30,40],
    "2nd":[20,84,30,65]
}
df=pd.DataFrame(data,index=[10,20,30,40,])
df["sum"]=df["num"]+df['2nd']
df['squre']=df['sum']**2
df.pop('sum')
del df['num']
print(df.rename(columns={'num':'number',"2nd":'2nd number'}))

    2nd number  squre
10          20    900
20          84  10816
30          30   3600
40          65  11025

In [17]:
a=np.array([[1,2,3,6,5],[6,3,6,9,85]])
print(a)
print(pd.DataFrame(a,columns=[10,20,25,36,69]))

[[ 1  2  3  6  5]
 [ 6  3  6  9 85]]
   10  20  25  36  69
0   1   2   3   6   5
1   6   3   6   9  85

In [18]:
import pandas as pd
df1={
    "name":['aaa','bbb','ccc','ddd'],
    'age':[10,20,30,40],
    'salary':[1000,2000,3000,8000]
}
df2={
     "name":['uuu','bbb','vvv','ddd'],
    'age':[10,20,30,40],
    'salary':[1000,5000,3000,8000]
}
d1=pd.DataFrame(df1)
d2=pd.DataFrame(df2)
print(d1)
print(d2)
c=pd.concat([d1,d2],axis=1)
print(c)
m=pd.merge(d1,d2, on=['age'])
print(m)

  name  age  salary
0  aaa   10    1000
1  bbb   20    2000
2  ccc   30    3000
3  ddd   40    8000
  name  age  salary
0  uuu   10    1000
1  bbb   20    5000
2  vvv   30    3000
3  ddd   40    8000
  name  age  salary name  age  salary
0  aaa   10    1000  uuu   10    1000
1  bbb   20    2000  bbb   20    5000
2  ccc   30    3000  vvv   30    3000
3  ddd   40    8000  ddd   40    8000
  name_x  age  salary_x name_y  salary_y
0    aaa   10      1000    uuu      1000
1    bbb   20      2000    bbb      5000
2    ccc   30      3000    vvv      3000
3    ddd   40      8000    ddd      8000

In [19]:
 #groupe
data1={
    "department":["HR",'DATA','HR','IT','IT','HR'],
    'name':['aaa','bbb','aaa','ddd','eee','fff'],
    'salary':[10,60,30,100,55,25],
    'bonus':[10000,55000,25000,30000,45000,35000],
}
df=pd.DataFrame(data1)
print(df)
d=df.groupby(['department','name'])['salary'].sum()
print(d)
c=df.groupby('department')[['salary','bonus']].sum()
print(c)
f=df[df['salary']>50]
print(f)
g=df.sort_values(['salary'],ascending=False)
print(g)

  department name  salary  bonus
0         HR  aaa      10  10000
1       DATA  bbb      60  55000
2         HR  aaa      30  25000
3         IT  ddd     100  30000
4         IT  eee      55  45000
5         HR  fff      25  35000
department  name
DATA        bbb      60
HR          aaa      40
            fff      25
IT          ddd     100
            eee      55
Name: salary, dtype: int64
            salary  bonus
department
DATA            60  55000
HR              65  70000
IT             155  75000
  department name  salary  bonus
1       DATA  bbb      60  55000
3         IT  ddd     100  30000
4         IT  eee      55  45000
  department name  salary  bonus
3         IT  ddd     100  30000
1       DATA  bbb      60  55000
4         IT  eee      55  45000
2         HR  aaa      30  25000
5         HR  fff      25  35000
0         HR  aaa      10  10000

In [20]:
data={
     "name":["aaa",'bbb','ccc','ddd'],
    'age':[10,20,55,40]
}
df=pd.DataFrame(data,index=['a','b','c','d'])
print(df)
print(df.loc[['a','b']])
print(df.iloc[0:1])

  name  age
a  aaa   10
b  bbb   20
c  ccc   55
d  ddd   40
  name  age
a  aaa   10
b  bbb   20
  name  age
a  aaa   10

In [21]:
data={
    'name':['firoz','uvais','musthafa','misriya',  'harshana','neseema'],
    'age':[21,28,49,27,25,46],
    'place':['kallar','kallar','kallar','bedakam',None,None],
    'work':['student','accountent','hotel','hs wife','hs wife','hs wife']
}
df=pd.DataFrame(data)
print(df)
a=df['place']=df['place'].fillna(df['place'].mode()[0])
print(a)
d=df.fillna(0)
print(d)
g=df.dropna()
print(g)
f=df.isnull()
print(f)
j=df.ffill()
print(j)
m=df.bfill()
print(m)

       name  age    place        work
0     firoz   21   kallar     student
1     uvais   28   kallar  accountent
2  musthafa   49   kallar       hotel
3   misriya   27  bedakam     hs wife
4  harshana   25     None     hs wife
5   neseema   46     None     hs wife
0     kallar
1     kallar
2     kallar
3    bedakam
4     kallar
5     kallar
Name: place, dtype: object
       name  age    place        work
0     firoz   21   kallar     student
1     uvais   28   kallar  accountent
2  musthafa   49   kallar       hotel
3   misriya   27  bedakam     hs wife
4  harshana   25   kallar     hs wife
5   neseema   46   kallar     hs wife
       name  age    place        work
0     firoz   21   kallar     student
1     uvais   28   kallar  accountent
2  musthafa   49   kallar       hotel
3   misriya   27  bedakam     hs wife
4  harshana   25   kallar     hs wife
5   neseema   46   kallar     hs wife
    name    age  place   work
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False
3  False  False  False  False
4  False  False  False  False
5  False  False  False  False
       name  age    place        work
0     firoz   21   kallar     student
1     uvais   28   kallar  accountent
2  musthafa   49   kallar       hotel
3   misriya   27  bedakam     hs wife
4  harshana   25   kallar     hs wife
5   neseema   46   kallar     hs wife
       name  age    place        work
0     firoz   21   kallar     student
1     uvais   28   kallar  accountent
2  musthafa   49   kallar       hotel
3   misriya   27  bedakam     hs wife
4  harshana   25   kallar     hs wife
5   neseema   46   kallar     hs wife

In [22]:
dct={
    "name":["aaa","bbb",'ccc','ddd','eee'],
    "age":[50,20,30,50,66],
    "salary":[2000,3000,2000,1000,8000]
}
df=pd.DataFrame(dct)
print(df)
s=df.drop_duplicates(['salary'])
print(s)

  name  age  salary
0  aaa   50    2000
1  bbb   20    3000
2  ccc   30    2000
3  ddd   50    1000
4  eee   66    8000
  name  age  salary
0  aaa   50    2000
1  bbb   20    3000
3  ddd   50    1000
4  eee   66    8000

In [23]:
import pandas as pd
data1={
    "department":["HR",'DATA','HR','IT','IT','HR'],
    'name':['aaa','bbb','ccc','ddd','eee','fff'],
    'salary':[80000,60000,3000,10000,55000,25000],
    'bonus':[10000,55000,25000,30000,45000,35000],
}
df=pd.DataFrame(data1)
print(df)
d=df['department'].isin(["salary",'HR'])
print(d)
s=df[df['name'].str.startswith('a')]
print(s)

  department name  salary  bonus
0         HR  aaa   80000  10000
1       DATA  bbb   60000  55000
2         HR  ccc    3000  25000
3         IT  ddd   10000  30000
4         IT  eee   55000  45000
5         HR  fff   25000  35000
0     True
1    False
2     True
3    False
4    False
5     True
Name: department, dtype: bool
  department name  salary  bonus
0         HR  aaa   80000  10000

In [25]:
import pandas as pd

data = {
    'name': ['aaa', 'bbb', 'aaa', 'bbb'],
    'subject': ['math', 'math', 'eng', 'eng'],
    'marks': [90, 80, 85, 70]
}

df = pd.DataFrame(data)
print("Original DataFrame:\n", df)

# Pivot the table
pivot_df = df.pivot(index='name', columns='subject', values='marks')

print("\nPivoted DataFrame:\n", pivot_df)
p=df.info()
print(p)

Original DataFrame:
   name subject  marks
0  aaa    math     90
1  bbb    math     80
2  aaa     eng     85
3  bbb     eng     70

Pivoted DataFrame:
 subject  eng  math
name
aaa       85    90
bbb       70    80
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     4 non-null      object
 1   subject  4 non-null      object
 2   marks    4 non-null      int64
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes
None